<div class="app-layout">

  <app-header (toggleSidebar)="toggleSidebar()"></app-header>

  <div class="layout">

    <!-- 🔥 OVERLAY -->
    <div 
      class="overlay"
      *ngIf="isSidebarOpen"
      (click)="isSidebarOpen = false">
    </div>

    <app-sidebar
      [isOpen]="isSidebarOpen"
      (closeSidebar)="isSidebarOpen = false">
    </app-sidebar>

    <div
      class="content"
      [ngClass]="{
        'sidebar-open': isSidebarOpen,
        'sidebar-closed': !isSidebarOpen
      }"
    >
      <router-outlet></router-outlet>
    </div>

  </div>

  <app-footer></app-footer>

</div>